{% extends 'base.html.twig' %}

{% block body %}
    <div class="leftForm">
            <form>
            <div class="relative">
                <input type="text" id="text" class="bg-backgroundTwo border focus:outline-none focus:border-sky-500 text-gray-900 text-sm rounded-full block w-[471px] pl-[31px] pr-[61px] py-[15.28px]" placeholder="Apa pertanyaanmu?">
                <div class="absolute right-0 top-1/4">
                    <div class="pr-5">
                        <a href="#" class="">
                            <div class="iconSearch bg-grayTwo p-2 rounded-full">
                                <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.22397 3.06195C5.46967 3.09184 4.78851 3.36601 4.42412 3.73737C4.2549 3.90982 3.98051 3.90982 3.8113 3.73741C3.64204 3.56505 3.642 3.28548 3.81121 3.11303C4.37342 2.54013 5.28836 2.21535 6.19026 2.17959C7.09805 2.14361 8.08912 2.39686 8.78319 3.10415C8.95237 3.27656 8.95237 3.55613 8.78311 3.72854C8.61389 3.90095 8.3395 3.9009 8.17029 3.72849C7.69752 3.24667 6.97234 3.03228 6.22397 3.06195Z" fill="white"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.6387 9.49414C11.4672 8.49483 11.9666 7.20306 11.9666 5.79248C11.9666 2.62258 9.44449 0.0528564 6.33329 0.0528564C3.22208 0.0528564 0.699951 2.62258 0.699951 5.79248C0.699951 8.96239 3.22208 11.5321 6.33329 11.5321C7.71774 11.5321 8.98559 11.0233 9.9664 10.1791L9.79995 11.1543L13.0559 14.4716L14.8517 12.6419L11.5958 9.32456L10.6387 9.49414ZM6.33329 10.2076C8.7265 10.2076 10.6666 8.23085 10.6666 5.79248C10.6666 3.35411 8.7265 1.37739 6.33329 1.37739C3.94007 1.37739 1.99995 3.35411 1.99995 5.79248C1.99995 8.23085 3.94007 10.2076 6.33329 10.2076Z" fill="white"/>
                                <path d="M13.6687 15.0961L15.4645 13.2664L16.052 13.865C16.3826 14.2018 16.3826 14.7479 16.052 15.0847L15.4534 15.6946C15.1228 16.0314 14.5868 16.0314 14.2562 15.6946L13.6687 15.0961Z" fill="white"/>
                                </svg>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            </form>
        </div>
{% endblock %}