{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<div class="mainContent flex justify-between px-[100px] mt-[86px] items-center">
    {% include 'components/leftfullcontent.html.twig' %}
    {% include 'components/rightlogo.html.twig' %}
</div>
{% endblock %}
