{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

{# Navbar #}

<div class="navWrapper flex justify-between px-[90px] py-[23px] items-center border-b-[1px]">
    <div class="navTitle font-nunito">
        <h1><span class="font-[400]">Forum</span><span class="font-[800]">Gaming</span></h1>
    </div>
    <div class="navItems flex space-x-[80px] font-roboto font-[900] text-grayTwo  ">
        <a href="#">Buat Pertanyaan</a>
        <a href="#">Halaman Pencarian</a>
        <a href="#">Tentang Kami</a>
    </div>
    <div class="navLog flex font-roboto font-[900] text-[12px]">
        <a href="#" class="flex py-[12px] px-[20px] bg-grayTwo text-backgroundTwo rounded-lg">
            <svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.66663 11.875V10.7917C8.66663 10.217 8.43835 9.66593 8.03202 9.2596C7.6257 8.85327 7.0746 8.625 6.49996 8.625H2.70829C2.13366 8.625 1.58256 8.85327 1.17623 9.2596C0.769899 9.66593 0.541626 10.217 0.541626 10.7917V11.875" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M4.60417 6.45833C5.80078 6.45833 6.77083 5.48828 6.77083 4.29167C6.77083 3.09505 5.80078 2.125 4.60417 2.125C3.40755 2.125 2.4375 3.09505 2.4375 4.29167C2.4375 5.48828 3.40755 6.45833 4.60417 6.45833Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M10.8334 4.83331V8.08331" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M12.4584 6.45831H9.20837" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <span class="ml-[12px] tracking-wide">
                Daftar
            </span>
        </a>
        <a href="#" class="flex py-[12px] px-[20px] bg-primary text-backgroundTwo rounded-lg ml-[29px]">
            <span>
                Masuk
            </span>
        </a>
    </div>
</div>

{# End Navbar #}


{# Content #}

<div class="mainContent flex justify-between px-[100px] mt-[86px] items-center">
    <div class="leftContent flex flex-col space-y-[20px] font-nunito">
        <div class="leftTitle font-[800] text-[36px]">
            <h1>Dari bertanya jadi</h1>
            <h1>jago dan ahli</h1>
        </div>
        <div class="leftDesc font-[400] text-[16px]">
            <p>Forum ini adalah forum geming ges yah</p>
            <p>yoi porum geming disini kita bisa tanya tanya</p>
            <p>ges yah jan malu malu</p>
        </div>
        <div class="leftForm">
            <form>
            <div class="relative">
                <input type="text" id="text" class="bg-backgroundTwo border focus:outline-none focus:border-sky-500 text-gray-900 text-sm rounded-full block w-[471px] pl-[31px] pr-[61px] py-[15.28px]" placeholder="Apa pertanyaanmu?">
                <div class="absolute right-0 top-1/4">
                    <div class="pr-5">
                        <a href="#" class="">
                            <div class="iconSearch bg-grayTwo p-2 rounded-full">
                                <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.22397 3.06195C5.46967 3.09184 4.78851 3.36601 4.42412 3.73737C4.2549 3.90982 3.98051 3.90982 3.8113 3.73741C3.64204 3.56505 3.642 3.28548 3.81121 3.11303C4.37342 2.54013 5.28836 2.21535 6.19026 2.17959C7.09805 2.14361 8.08912 2.39686 8.78319 3.10415C8.95237 3.27656 8.95237 3.55613 8.78311 3.72854C8.61389 3.90095 8.3395 3.9009 8.17029 3.72849C7.69752 3.24667 6.97234 3.03228 6.22397 3.06195Z" fill="white"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.6387 9.49414C11.4672 8.49483 11.9666 7.20306 11.9666 5.79248C11.9666 2.62258 9.44449 0.0528564 6.33329 0.0528564C3.22208 0.0528564 0.699951 2.62258 0.699951 5.79248C0.699951 8.96239 3.22208 11.5321 6.33329 11.5321C7.71774 11.5321 8.98559 11.0233 9.9664 10.1791L9.79995 11.1543L13.0559 14.4716L14.8517 12.6419L11.5958 9.32456L10.6387 9.49414ZM6.33329 10.2076C8.7265 10.2076 10.6666 8.23085 10.6666 5.79248C10.6666 3.35411 8.7265 1.37739 6.33329 1.37739C3.94007 1.37739 1.99995 3.35411 1.99995 5.79248C1.99995 8.23085 3.94007 10.2076 6.33329 10.2076Z" fill="white"/>
                                <path d="M13.6687 15.0961L15.4645 13.2664L16.052 13.865C16.3826 14.2018 16.3826 14.7479 16.052 15.0847L15.4534 15.6946C15.1228 16.0314 14.5868 16.0314 14.2562 15.6946L13.6687 15.0961Z" fill="white"/>
                                </svg>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
    <div class="rightContent">
        <svg width="435" height="420" viewBox="0 0 435 420" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M109.055 346.038C93.1253 346.625 77.5963 343.614 71.6825 313.084C66.7798 287.78 113.347 210.69 113.347 210.69C103.545 199.508 91.2888 137.131 91.2888 137.131C75.3594 133.013 0 138.895 0 138.895C9.80117 125.95 91.9037 121.241 91.9037 121.241C90.0672 85.3454 104.771 58.8639 117.638 57.0961C130.506 55.3322 148.886 77.1049 148.886 77.1049C147.05 68.2777 150.112 -1.16242 190.551 0.0147953C230.989 1.19201 279.388 91.8181 279.388 91.8181C297.769 90.0542 357.81 110.059 357.81 110.059C371.902 102.996 398.859 32.3824 398.859 32.3824C407.438 54.155 368.836 117.122 368.836 117.122C387.217 127.127 412.948 145.958 417.24 165.967C421.527 185.976 382.319 187.74 382.319 187.74C397.022 197.154 431.947 215.985 434.399 248.939C437.436 289.784 302.671 289.544 302.671 289.544C298.994 301.902 246.304 346.038 246.304 346.038C249.366 357.22 297.769 419.597 297.769 419.597C282.45 426.069 233.436 352.511 233.436 352.511C205.865 369.575 177.068 372.52 165.427 363.692C153.785 354.865 166.652 327.207 166.652 327.207C164.197 331.325 124.984 345.451 109.055 346.038ZM316.55 156.549C309.605 137.718 286.325 120.848 286.325 120.848C309.2 123.988 326.764 154.587 326.764 154.587L342.285 131.047C255.692 80.4384 179.309 119.671 179.309 119.671C174.407 153.803 208.308 260.906 208.308 260.906L190.336 267.969C177.675 254.631 153.166 145.958 153.166 145.958C140.505 159.689 135.602 190.681 135.602 190.681C126.618 166.748 145.404 139.287 145.404 139.287L116.813 138.11C126.21 245.998 188.297 279.737 188.297 279.737C228.736 264.83 299.807 185.976 299.807 185.976L315.737 196.959C309.609 212.259 224.65 289.544 224.65 289.544C234.451 292.29 274.89 282.48 274.89 282.48C267.127 295.818 223.016 296.603 223.016 296.603L237.109 324.557C333.297 257.18 326.557 191.271 326.557 191.271C277.851 162.731 187.173 146.254 187.173 146.254L186.865 125.363C230.366 123.595 316.55 156.549 316.55 156.549ZM149.493 123.008L148.882 95.9403C148.882 95.9403 137.856 85.3493 133.564 84.172C129.272 82.9948 115.183 91.822 115.183 123.599L149.493 123.008ZM182.578 336.624C202.795 347.215 224.242 332.506 224.242 332.506L207.087 302.493C194.219 307.788 162.36 326.029 182.578 336.624ZM175.839 286.016C175.839 286.016 134.789 257.77 123.759 230.698C123.759 230.698 99.2495 273.657 110.891 292.488C122.533 311.32 169.1 293.075 175.839 286.016ZM377.412 247.175C385.377 232.462 340.65 197.744 340.65 197.744C340.65 233.053 314.305 269.539 314.305 269.539C341.261 272.48 369.447 261.889 377.412 247.175ZM381.7 172.44C390.279 160.081 357.191 137.722 357.191 137.722L340.036 165.38C355.969 172.44 373.124 184.799 381.7 172.44ZM256.101 90.0542C256.101 90.0542 225.467 47.6862 208.923 47.6862C192.379 47.6862 177.675 93.5859 180.126 107.122C180.126 107.118 215.051 85.9359 256.101 90.0542Z" fill="black"/>
        </svg>
    </div>
</div>

{# End Content #}


{% endblock %}
