{% extends 'layouts/base-search-layout.html.twig' %}

{% block title %}Search Result Page!{% endblock %}

{% block content %}
    <div class="flex space-x-3 items-center">
        <div class="bg-[#333333] w-[40px] h-[40px] rounded-full">

        </div>
        <div class="">
            <h1 class="text-[13px] capitalize">@rijalgemink</h1>
            <h1 class="text-[10px] text-[#808080]">12 November 1209</h1>
        </div>
    </div>
    <div class="mt-[20px]">
        <h1 class="font-bold text-[18px]">{{ pertanyaan.judulTanya }}</h1>
        <p class="text-[14px]">{{ pertanyaan.tanya }}</p>
    </div>
{% endblock %}