<div class="navWrapper flex justify-between px-[90px] py-[23px] items-center border-b-[1px] mb-[40px]">
    <div class="navTitle font-nunito">
        <h1><span class="font-[400]">Forum</span><span class="font-[800]">Gaming</span></h1>
    </div>
    <div class="navItems flex space-x-[80px] font-roboto font-[900] text-grayTwo  ">
        <a href="{{ path('question_create') }}">Buat Pertanyaan</a>
        <a href="{{ path('questions') }}">Halaman Pencarian</a>
        <a href="#">Tentang Kami</a>
    </div>
    <div class="navLog flex font-roboto font-[900] text-[12px]">
        <a href="#" class="flex py-[12px] px-[20px] bg-grayTwo text-backgroundTwo rounded-lg">
            <svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.66663 11.875V10.7917C8.66663 10.217 8.43835 9.66593 8.03202 9.2596C7.6257 8.85327 7.0746 8.625 6.49996 8.625H2.70829C2.13366 8.625 1.58256 8.85327 1.17623 9.2596C0.769899 9.66593 0.541626 10.217 0.541626 10.7917V11.875" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M4.60417 6.45833C5.80078 6.45833 6.77083 5.48828 6.77083 4.29167C6.77083 3.09505 5.80078 2.125 4.60417 2.125C3.40755 2.125 2.4375 3.09505 2.4375 4.29167C2.4375 5.48828 3.40755 6.45833 4.60417 6.45833Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M10.8334 4.83331V8.08331" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M12.4584 6.45831H9.20837" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <span class="ml-[12px] tracking-wide">
                Daftar
            </span>
        </a>
        <a href="#" class="flex py-[12px] px-[20px] bg-primary text-backgroundTwo rounded-lg ml-[29px]">
            <span>
                Masuk
            </span>
        </a>
    </div>
</div>