<div class="h-18 border-b-[1.5px] grid grid-cols-12">
    <div class="my-6 mx-16 text-lg col-start-1 col-span-3">
        Forum<b>Geming</b>
    </div>
    <div>

    </div>
    <div class="my-4 col-start-10 col-span-3 flex justify-end items-center space-x-5 pr-[40px]">
        <button class="bg-sky-500 hover:bg-sky-600 text-white rounded-lg w-44 h-10 flex items-center justify-center space-x-2">
            <span class="material-symbols-outlined text-xl">
                add_circle
            </span>
            <a href="{{ path('question_create') }}">Buat Pertanyaan</a>
        </button>
        <span class="material-symbols-outlined text-xxl">
            notifications
        </span>
        <span class="material-symbols-outlined text-xxl">
            account_circle
        </span>
    </div>
</div>