<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            <script src="https://cdn.tailwindcss.com"></script>
            <script>
                tailwind.config = {
                    theme: {
                        extend: {
                            colors: {
                                clifford: '#da373d',
                            }
                        }
                    }
                }
            </script>
        {% endblock %}
    </head>
    <body>
        {{ render(controller('App\\Controller\\MainController::searchBar')) }}
        {% block body %}
            {% include 'layout/side-content.html.twig' %}
            {# <h1>ABCD</h1> #}
        {% endblock %}
    </body>
</html>
