<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

        {# Fonts #}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        {# End Fonts #}
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            <script src="https://cdn.tailwindcss.com"></script>
            <script>
                tailwind.config = {
                    theme: {
                        extend: {
                            colors: {
                                backgroundOne: '#F2F2F2',
                                backgroundTwo: '#FFFFFF',
                                primary: '#F48023',
                                secondary: '#F48023',
                                grayOne: '#EAEAEA',
                                blue: '#1682FD',
                                red: '#FF0000',
                                black: '#000000',
                                grayTwo: '#808080',
                                clifford: '#da373d',
                            },
                            fontFamily: {
                                nunito: 'Nunito',
                                roboto: 'Roboto'
                            }
                        }
                    }
                }
            </script>
        {% endblock %}
    </head>
    <body>
        {% block navbar %}
            {% if app.user %}
                {% include 'components/navbar/autnavbar.html.twig' %}
            {% else %}
                {% include 'components/navbar/anonavbar.html.twig' %}
            {% endif %}
        {% endblock %}

        {% block body %}
        {% endblock %}
    </body>
</html>
