{% extends 'base.html.twig' %}

{% block body %}
<div class="leftContent flex flex-col space-y-[20px] font-nunito">
    <div class="leftTitle font-[800] text-[36px]">
        <h1>Dari bertanya jadi</h1>
        <h1>jago dan ahli</h1>
    </div>
    <div class="leftDesc font-[400] text-[16px]">
        <p>Forum ini adalah forum geming ges yah</p>
        <p>yoi porum geming disini kita bisa tanya tanya</p>
        <p>ges yah jan malu malu</p>
    </div>
</div>
{% endblock %}